@model ATMPROCESS.Models.Register
@{
    Layout = "~/Views/Shared/_MainmenuLayout.cshtml";
}
<label><span>Account Number is  :</span>@ViewBag.AccNo</label>
<form asp-action="Changepassword" asp-controller="ATM" method="post">
    <table>
    <tr>
            <td><label>OldPin</label> </td>
            <td><input type="number" name="oldpin" asp-for="Pin" /></td>
        

        </tr>
        <tr>
            <td><label>New Pin</label></td>
            <td><input type="number" name="newpin" asp-for="Pin" /></td>
        

        </tr>
        <tr>
            <td><input type="submit" value="Changepassword" class="btn btn-primary" /></td>
        
        </tr>
    </table>
</form>
@if (ViewBag.AccNo != null)
{
    <label>Pin Changed Sucessfully </label>
}
<br />
<a asp-action="MainMenu" asp-controller="ATM">Back</a>