body {
	display:flex;
	justify-items:center;
	align-items:center;
}
input[type="submit"] {
	width: 170px;
	height: 35px;
	border:0px;
	background-color:green;
	border-radius: 5px;

}
input{
	width: 150px;
	height: 25px;
	border-radius: 5px;

}
td{
	margin-bottom:60px;
}

